.container {
  border: 2px solid #c5e1a5;
  border-radius: 10px;
  width: auto;
  padding: 10px;
  margin: 0 10px 10px 10px;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  height: auto;
  width: auto;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.addButton {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 2px;
  background-color: #3a3a3a;
  margin: 10px 0;
  border-radius: 5rem;
}

.itemList {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border: 2px solid #3a3a3a;
  border-radius: 10px;
  margin: 1px 0;
  padding: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item.selectedItem {
  flex-direction: column;
}

.itemHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

.circle {
  display: flex;
  height: auto;
  width: auto;
  margin-right: 1rem;
}

.text {
  font-size: 18px;
  font-weight: 600;
}

.topicText {
  display: flex;
  margin-left: 12%;
}

.content {
  width: 100%;
  padding: 15px;
  border-top: 2px solid #3a3a3a;
  font-size: 16px;
  margin-top: 0.3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #c5e1a5;
  border-radius: 50%;
  margin: 0 5px;
}

.addPostForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.addPostForm input,
.addPostForm textarea {
  margin: 5px 0;
  padding: 10px;
  border: 2px solid #3a3a3a;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

.addPostForm button {
  font-size: 1.3rem;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #3a3a3a;
  color: #ffffff;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}

.addPostForm button:hover {
  background-color: #8cb150;
}

.addPostForm input:focus,
.addPostForm textarea:focus {
  border: #8cb150 solid 2px;
  outline: none;
}
