.navContainer {
  display: flex;
  height: 57px;
  padding: 11px 11px 11px 12px;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
  align-items: center;
  gap: 126px;
  border-radius: 5px;
  background: #3a3a3a;
  position: relative;
}

.logo {
  object-fit: contain;
}

.logoContainer {
  height: 35px;
  width: 120px;
  position: relative;
}

.logoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.hamburgerMenuContainer {
  height: 2.5rem;
  width: 2.5rem;
  z-index: 15;
  position: absolute;
  top: 12px;
  right: 12px;
}

.hamburgerMenuButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
  z-index: 20;
}

.hamburgerBar {
  display: block;
  width: 24px;
  height: 3px;
  background: #fff;
  margin: 3px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.open .hamburgerBar:nth-child(1) {
  transform: rotate(45deg) translate(7px, 5.5px);
}

.open .hamburgerBar:nth-child(2) {
  opacity: 0;
  transform: translateX(100px);
  animation: moveOut 0.4s forwards;
}

.hamburgerMenuButton:not(.open) .hamburgerBar:nth-child(2) {
  animation: moveIn 0.4s forwards;
}

.open .hamburgerBar:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -5.5px);
}

.navMenu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  background: #3a3a3a;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showMenu {
  height: calc(100vh - 67px);
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.showLinks {
  opacity: 1;
}

.navLinks li {
  margin: 20px 0;
}

.navLinks a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  overflow: hidden;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  -webkit-text-stroke: 1px #3a3a3a;
}

.navLinks .outer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #8cb150;
  transform: translateX(-100%);
}

.navLinks .inner {
  display: inline-block;
  transform: translateX(100%);
}

.navLinks a .outer,
.navLinks a .inner {
  transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
}

.navLinks a:hover .outer,
.navLinks a:hover .inner {
  transform: none;
}

[data-animation="to-top"] .outer {
  transform: translateY(100%);
}

[data-animation="to-top"] .inner {
  transform: translateY(-100%);
}

@keyframes easeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-150px);
  }
}

@keyframes moveIn {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
