.navContainer {
  display: flex;
  height: 57px;
  padding: 11px 11px 11px 12px;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
  align-items: center;
  gap: 126px;
  border-radius: 5px;
  background: #3a3a3a;
}

.logo {
  height: 100%;
  width: 100%;
}

.logoContainer {
  height: 2.5rem;
  display: flex;
  justify-content: center;
}

.hamburgerMenuContainer {
  height: 2.5rem;
  width: 2.5rem;
}

.hamburgerMenuButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.hamburgerBar {
  display: block;
  width: auto;
  height: 4px;
  background: #fff;
  margin: 4px 0;
  border-radius: 5px;
}
